<app-header></app-header>

<mat-card class="room-card">
    <mat-card-title>Add a New Room</mat-card-title>
    <form [formGroup]="roomForm" (ngSubmit)="submitRoom()">
      
      <div class="form-grid">
        <div class="form-column">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Room Type</mat-label>
            <mat-select formControlName="roomType">
              <mat-option *ngFor="let type of roomTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Room Number</mat-label>
            <input matInput type="number" formControlName="roomNumber">
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price">
          </mat-form-field>
        </div>

        <div class="form-column">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Balcony</mat-label>
            <mat-select formControlName="balcony">
              <mat-option [value]="true">
                <mat-icon class="icon-success">check_circle</mat-icon> Yes
              </mat-option>
              <mat-option [value]="false">
                <mat-icon class="icon-error">cancel</mat-icon> No
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Air Conditioning</mat-label>
            <mat-select formControlName="airConditioning">
              <mat-option [value]="true">
                <mat-icon class="icon-success">ac_unit</mat-icon> Yes
              </mat-option>
              <mat-option [value]="false">
                <mat-icon class="icon-error">whatshot</mat-icon> No
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Kitchenette</mat-label>
            <mat-select formControlName="kitchenette">
              <mat-option [value]="true">
                <mat-icon class="icon-success">kitchen</mat-icon> Yes
              </mat-option>
              <mat-option [value]="false">
                <mat-icon class="icon-error">block</mat-icon> No
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="features-grid">
        <mat-form-field appearance="outline">
          <mat-label>Hairdryer</mat-label>
          <mat-select formControlName="hairdryer">
            <mat-option [value]="true">
              <mat-icon class="icon-success">air</mat-icon> Yes
            </mat-option>
            <mat-option [value]="false">
              <mat-icon class="icon-error">cancel</mat-icon> No
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>TV</mat-label>
          <mat-select formControlName="tv">
            <mat-option [value]="true">
              <mat-icon class="icon-success">tv</mat-icon> Yes
            </mat-option>
            <mat-option [value]="false">
              <mat-icon class="icon-error">cancel</mat-icon> No
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Reserved</mat-label>
          <mat-select formControlName="isReserved">
            <mat-option [value]="true">
              <mat-icon class="icon-warning">lock</mat-icon> Yes
            </mat-option>
            <mat-option [value]="false">
              <mat-icon class="icon-success">lock_open</mat-icon> No
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="roomForm.invalid">
          <mat-icon>add</mat-icon> Add Room
        </button>
      </div>
    </form>
</mat-card>
