.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 80px;
    background-color: #AF7A38;
    position: relative;
    box-sizing: border-box;
}

.spacer {
    flex-grow: 1;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.avatar-container {
    display: flex;
    align-items: center;
}

.avatar-panel {
    box-shadow: none !important;
    background: transparent !important;
    border: none !important;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.avatar-icon {
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.menu-content button {
    width: 100%;
    margin-top: 5px;
}

mat-toolbar {
    background-color: #AF7A38 !important;
    color: white !important;
}

.mat-menu-panel {
    min-width: 160px;
    border-radius: 8px;
}

.menu-header {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.mat-menu-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-divider {
    height: 1px;
    background-color: #d3d3d3;
    margin: 5px 0;
}

.guest-buttons {
    display: flex;
    gap: 5px;
}


.guest-buttons button {
    margin: 0 5px;
}
