<app-header></app-header>

<div class="container">
    <mat-card class="reviews-card">
        <mat-card-title>Hotel Reviews</mat-card-title>

        <div *ngIf="reviews().length > 0">
            <mat-card *ngFor="let review of reviews(); trackBy: trackById" class="review-card">
                <mat-card-content>
                    <h3>Hotel: {{ review.userName }}</h3>
                    <p class="review-text" *ngIf="!review.isModerated">{{ review.reviewText }}</p>
                    <div class="moderation-banner" *ngIf="review.isModerated">
                    <mat-icon>info</mat-icon>
                    This review has been moderated by one of our administrators and is currently under review.
                    </div>
                    <p class="review-meta">
                        <strong>Rating:</strong> {{ review.rating }} ⭐ | 
                        <strong>Date:</strong> {{ review.createdAt | date:'short' }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <p *ngIf="reviews().length === 0" class="no-reviews">No reviews found.</p>

        <mat-paginator
            *ngIf="totalReviews() > 0"
            [length]="totalReviews()"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 20]"
            (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card>
</div>