.update-room-dialog {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .full-width {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    mat-dialog-actions {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}
